<div [ngSwitch]="view">
  <div fxLayoutAlign="end" class="view-switch">
    <button mat-icon-button (click)="toggleView('gallery')">
      <mat-icon class="pokemons-page__icon-view">view_module</mat-icon>
    </button>
    <button mat-icon-button (click)="toggleView('list')">
      <mat-icon class="pokemons-page__icon-view">view_list</mat-icon>
    </button>
  </div>
  <ng-template ngSwitchCase="gallery">
    <div fxLayout="row wrap" fxLayoutAlign="space-around">
      <div *ngFor="let pokemon of pokemons">
        <app-card [pokemon]="pokemon"></app-card>
      </div>
    </div>
  </ng-template>
  <ng-template ngSwitchCase="list">
    <div *ngFor="let pokemon of pokemons">
      
    </div>
  </ng-template>
</div> 