<div [ngSwitch]="view" class="container mt-5 mb-5">
  <div class="view-switch">
    <button class="btn btn-outline-secondary" (click)="toggleView('gallery')">Gallery</button>
    <button class="btn btn-outline-secondary" (click)="toggleView('list')">List</button>
  </div>
  <ng-template ngSwitchCase="gallery">
    <div class="row row-cols-3 justify-content-around pokemons-page__card">
      <div *ngFor="let pokemon of pokemons">
        <card [pokemon]="pokemon" (catchPoke)="pokemonPageCatchOnClick(pokemon)"></card>
      </div>
      </div>
  </ng-template>
  <ng-template ngSwitchCase="list">
    <ul class="list-group" *ngFor="let pokemon of pokemons">
      <pokemon [pokemon]="pokemon" (catchPoke)="pokemonPageCatchOnClick(pokemon)"></pokemon>
    </ul>
  </ng-template>
  <pokemon [pokemon]="pokemon" (catchPoke)="pokemonPageCatchOnClick(pokemon)">
  </pokemon>
  </div>