.card {
  max-width: 250px;
  text-align: center;
  margin: 20px;
  background-image: url("https://cdn5.vectorstock.com/i/1000x1000/69/24/seamless-pattern-pokemon-go-pokeball-background-vector-23236924.jpg");
}
.card-header {
  color: rgb(187, 110, 110);
  justify-content: center;
}
.damage {
  color: rgb(71, 187, 202);
}
.card-image {
  max-width: 200px;
}
